POSTGRES_DB=gonna
POSTGRES_USER=gonna
POSTGRES_PASSWORD=gonna_password
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_PORT=9092

OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
